# --- Node / Next.js ---
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Python ---
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# --- Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local